<footer class="container">
  <div class="left-col">
    <p>Indirizzo: Via Roma 4, Piacenza</p>
    <p>Telefono fisso: +39 0332 852963</p>
    <p>Telefono mobile: +39 789 645 1230</p>
    <p>Email: movie&#64;radar.com</p>
  </div>
  <div class="right-col">
    <p>Privacy policy</p>
    <p>Cookie policy</p>
    <div class="social-icons">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-linkedin-in"></i>
    </div>
  </div>
</footer>
