<div class="container">
  <div class="first-section">
    <div class="left-col">
      <img src="/info_1.jpg">
    </div>
    <div class="right-col">
      <div class="p-container">
        <p>
          Negli anni ’40 il cinema era un punto di ritrovo fondamentale. Le sale, spesso decorate in stile art déco,
          offrivano un’esperienza immersiva e collettiva. In un’epoca segnata dalla guerra e dalla ricostruzione, i film
          servivano da evasione, con grandi star, trame romantiche e avventure mozzafiato. Hollywood dominava, imponendo
          uno stile riconoscibile in tutto il mondo.
        </p>
      </div>
    </div>
  </div>
  <div class="second-section">
    <div class="left-col">
      <div class="p-container">
        <p>
          Oggi le sale cinematografiche si sono evolute con tecnologia all’avanguardia: schermi in 4K, audio surround e
          sedute ultra-comode. L’esperienza è più curata ma anche più individuale, e molte persone preferiscono guardare
          film in streaming da casa. Nonostante ciò, il cinema resta vivo grazie a eventi speciali, prime visioni e il
          fascino unico del grande schermo.
        </p>
      </div>
    </div>
    <div class="right-col">
      <img src="/info_2.jpg">
    </div>
  </div>
</div>
